.open-navigation,
.close-navigation {
	display: none;

	@include media($mobile) {
		line-height: 0;
	    position:absolute;
	    left:5px;
	    top:5px;
	    font-size: 1.6em;
	    border: 0;
	    color: #333;
	    background: #fff;
	    text-decoration: none;
	    padding: 0.8em 0.8em 1em 0.8em;
	}
}

.open-navigation {
	@include media($mobile) {
		display: block;
	}
}

.close-navigation {
	padding-left: 0.7em;
	padding-right: 0.7em;
}

@include media($mobile) {
	body {
		&.navigation-is-open {
			.open-navigation {
				display: none;
			}
			.close-navigation {
				display: block;
			}
		}
	}
}

nav {
	@include span-columns(3);

	display: block;

	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: 15px;

	@include media($mobile) {
    	@include span-columns(2);
		position: static;
    	display: none;	
	}

	ol {
		list-style-type: disc;
		padding: 1em 0 1em 3em;
		background: #FFFCCE;
		border: 1px solid #bfbfbf;
		border-radius: 0.3em;
		font-size: 1em;

		@include media($mediumscreen) {
			padding: 1em 0 1em 1em;
			list-style-type: none;
			margin-left: 1em;
		}

		@include media($mobile) {
			margin: 0 0 2em 0;
			text-align: center;
			padding: 2em 0;
			border-radius: 0;
			border: 0px;
			border-bottom: 1px solid #bfbfbf;
		}

		li {
			margin-bottom: 0.4em;

			@include media($mobile) {
				list-style-type: none;
				display: inline-block;
				
				&.go-to-home {
					display: block;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			a {
				@include media($mobile) {
					@include button;
					font-size: 1.1em;
					font-weight: normal;
				}
			}
		}
	}
}