<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Reinier Ladan &bull; Freelance interactie-ontwerper{% endblock %}</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/full.min.css">
	<script src="/javascript/jquery.min.js"></script>
	<script src="/javascript/all.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="header__logo"><img src="/images/reinier-profiel.png" class="profile-pic"></div>
		<div class="header__title">
			<h1><a href="/index.html">Reinier Ladan</a></h1>
			<p>Ik ontwerp websites en apps. <a href="/pages/werkzaamheden.html" class="header__link-werkzaamheden">Meer over wat ik doe »</a><br /><strong>Mailen kan op <a href="mailto:reinier@digitalenergy.nl">reinier@digitalenergy.nl</a> en bellen op <span class="header__telefoonnummer">06 2487 2725</span>.</strong></p>
			<div class="socials st-multi-color">
				<a title="LinkedIn Reinier Ladan" class="st-icon-linkedin" href="http://nl.linkedin.com/in/reinierladan/"><span></span>LinkedIn</a>
				<a title="GitHub reinier" class="st-icon-github" href="https://github.com/reinier"><span></span>Github</a>
				<a title="Dribbble reinier" class="st-icon-dribbble" href="http://dribbble.com/reinier"><span></span>Dribbble</a>
				<a title="Twitter @reinier" class="st-icon-twitter" href="https://twitter.com/reinier"><span></span>Twitter</a>
			</div>
		</div>
	</div>
	<div class="container">
		<button class="open-navigation">&#x2261;</button>
		<button class="close-navigation">&#10006;</button>
		
		<nav id="navigation">
			<ol>
				{% if showLinkToHome %}
					<li class="go-to-home"><a href="/index.html"><strong>Ga naar homepage</strong></a></li>
				{% endif %}
				<li><a href="/pages/over-reinier-ladan.html">Over Reinier Ladan</a></li>
				<li><a href="/pages/projecten.html">Projecten</a></li>
				<li><a href="/pages/werkzaamheden.html">Werkzaamheden</a></li>
				<li><a href="/pages/contact.html">Contact</a></li>
			</ol>
		</nav>
		{% block content %}
			<p>Deze pagina is leeg.</p>
		{% endblock %}
	</div>
	<hr>
	<footer>
		<p><em>Informatie over Digital Energy BV: BTW nummer 811020496B01, KvK nummer 24310329, Bankrekening NL65 RABO 0350 2670 49 EUR (deze informatie staat ook altijd op de factuur vermeld)</em></p>
	</footer>
	<div class="meta-info-button">
		<a href="#meta"><img src="/images/question.svg"></a>
	</div>

</body>
</html>
