{% extends '../../layouts/_layout.html' %}
{% set showLinkToHome = true %}

{% block title %}{% parent %} - Project: FOX Sports Nederland website{% endblock %}

{% block content %}
<div class="content">
{% markdown %}

## Project: FOX Sports (Nederland)

FOX Sports is de nieuwe naam voor een project waar ik eerder aan heb gewerkt, Eredivisie Live. Het feit dat er een rebranding nodig was werd aangegrepen om de website op de schop te gooien en compleet responsive te maken. In een later stadum zijn er meer sporten aan de website toegevoegd zoals tennis en american football. Het project is een doorlopend proces van verbeteringen en toevoegingen, er wordt gebruikt gemaakt van de [scrum methode](http://nl.wikipedia.org/wiki/Scrum_(softwareontwikkelmethode)).

Als freelancer bij de Infostrada Sports Group was verantwoordelijk voor het interactie-ontwerp binnen een compleet scrumteam en ben ik een tijd verantwoordelijk geweest voor de user stories en het backlog als product owner.

Bekijk de website: [foxsports.nl](http://foxsports.nl)

![FOX Sports voorbeeld 1](/images/portfolio/fox-item1.jpg)
![FOX Sports voorbeeld 2](/images/portfolio/fox-item2.jpg)
![FOX Sports voorbeeld 3](/images/portfolio/fox-item3.jpg)

{% endmarkdown %}
</div>
{% endblock %}