{% extends '../../layout/_layout.html' %}
{% set showLinkToHome = true %}

{% block title %}{% parent %} - Project: NPO website{% endblock %}

{% block content %}
<div class="content">
{% markdown %}

## NPO (Nederlandse Publieke Omroep)

Bij NPO is een herpositionering gaande waarbij steeds meer onderdelen van de instelling onder de naam "NPO" worden gebracht, daar is deze website een voorbeeld van. De nieuwe site geeft de bezoeker ook de mogelijkheid om live Nederland 1, 2 en 3 te kijken via de website.</p>

De website is volledig responsive uitgevoerd, bevat een rijke video ervaring en heeft diverse TV, Radio en Uitzending Gemist onderdelen verenigd.

Ik was verantwoordelijk voor het interactie-ontwerp. Het grafisch ontwerp is verzorgd door [Made by Hiro](http://madebyhiro.com).

Bekijk de website: [NPO.nl](http://npo.nl)

![NPO Voorbeeld 1](/images/portfolio/npo-item1.jpg)
![NPO Voorbeeld 2](/images/portfolio/npo-item2.jpg)
![NPO Voorbeeld 3](/images/portfolio/npo-item3.jpg)

{% endmarkdown %}
<div class="content">
{% endblock %}