<!DOCTYPE html>
<html>
{% include "./_partials/head.html" %}
<body>
{% include "./_partials/header.html" %}
	<div class="container">
		<button class="open-navigation">&#x2261;</button>
		<button class="close-navigation">&#10006;</button>
		
		<nav id="navigation">
			<ol>
				{% if showLinkToHome %}
					<li class="go-to-home"><a href="/index.html"><strong>Ga naar homepage</strong></a></li>
				{% endif %}
				<li><a href="/over-reinier-ladan.html">Over Reinier Ladan</a></li>
				<li><a href="/projecten.html">Projecten</a></li>
				<li><a href="/werkzaamheden.html">Werkzaamheden</a></li>
				<li><a href="/contact.html">Contact</a></li>
			</ol>
		</nav>
		{% block content %}{% endblock %}
	</div>
	{% include "./_partials/footer.html" %}

</body>
</html>
