{% extends '_layout.html' %}

{% set showLinkToHome = true %}

{% block content %}
<div class="content">
	<h2 id="over-reinier-ladan">Over Reinier Ladan</h2>
	<p>Zoals op <a href="/index.html">de homepage</a> al vermeld kijk ik graag films, loop ik graag hard en golf ik graag. Verder doe ik een periodiek terugkerende podcast genaamd <a href="http://appelsenperenshow.nl">Appels en Peren</a> met Wietse Hage over Apple, technologie, gadgets en alles wat er maar bij komt kijken.</p>
	<p>Mijn professionele carriere begon in 1999 met het maken van diverse sites voor middenstanders. Naast dat ik al lange tijd in het vak zit heb ik ook een Bachelor in 'Communicatie- en Multimediadesign' en heb ik veel ervaring met programmeren en het in elkaar hacken van prototypes. Hierdoor ben ik goed in staat te 'ontwerpen in de browser' zodat ontwerpproces en bouwproces in elkaar gevlochten kunnen worden wat mij betreft.</p>
	<p><a href="/images/ervaring-full.png"><img src="/images/ervaring-small.png"></a></p>
</div>
{% endblock %}