{% extends '_layout.html' %}

{% set showLinkToHome = true %}

{% block content %}
<div class="content">
	<h2 id="over-reinier-ladan">Werkzaamheden en werkwijze</h2>
	<p>Niet elk project pak ik alleen op. Ik werk graag samen met andere ontwerpers die dezelfde methodes en filosofie hanteren als ik. Hier zijn de zaken waarin ik geloof als het om het ontwerpen van digitale zaken gaat:</p>
	<ul>
		<li>Elk probleem heeft een simpele oplossing, het vergt echter veel tijd en energie om op die simpele oplossing te komen.</li>
		<li>Onderzoek maakt deel uit van een goed ontwerpproces.</li>
		<li>Een kleine scope komt het eindproduct ten goede komt.</li>
		<li>Toegang tot stakeholders is onderdeel van een goed ontwerpproces.</li>
		<li>Digitale producten hebben meer baat bij een lange termijn strategie dan een korte termijn strategie.</li>
		<li>Content first, API first, mobile first. In die volgorde.</li>
		<li>Hoezeer projecten op elkaar kunnen lijken, een kleine verandering in doelstellingen of randvoorwaarden kan zorgen voor een grote verandering in het eindproduct.</li>
	</ul>
	<p>Elk project is weer anders en aanpassingen op het proces kunnen plaatsvinden indien de behoefte er is. Globaal ziet mijn ontwerpproces er als volgt uit.</p>
	<ol>
		<li><small><strong>[research]</strong></small> Vaststellen (bedrijfs/gebruikers)doelen, randvoorwaarden en content</li>
		<li><small><strong>[research]</strong></small> Ideeën trechteren, schetsen en beschrijven</li>
		<li><small><strong>[research/design]</strong></small> Flow, informatie achitectuur en interactie-ontwerp uitwerken</li>
		<li><small><strong>[design]</strong></small> Interactief prototype bouwen</li>
	</ol>
	<p>Indien er gescrumt wordt liggen deze onderdelen heel dicht op elkaar. Ik ben overigens <a href="/scrum.html">zeer goed inzetbaar in een scrumproject</a> of een andere agile methodiek. Is er meer behoefte aan een watervalmodel dan wordt er meer tijd per onderdeel uitgetrokken. Hoe eerder een prototype / eerste versie is gerealiseerd, des te beter is het voor het vervolgtraject. In mijn rol als interactie-ontwerper kies ik vaak de kant van de eindgebruiker. Ik geloof er heilig in dat dat het beste resultaat oplevert. <strong>Is de eindgebruiker blij, dan is de opdrachtgever blij, zo simpel moet een project zijn.</strong></p>
	<p><a href="/images/werkwijze-full.png"><img src="/images/werkwijze-small.png"></a></p>
</div>
{% endblock %}