{% extends '../layouts/_layout.html' %}
{% set showLinkToHome = true %}

{% block title %}{% parent %} - Over mij{% endblock %}

{% block content %}
<div class="content">
	<h2 id="over-reinier-ladan">Reinier Ladan de Front-end Developer</h2>
	<p>Reinier Ladan is front-end developer, wat andere ook over hem zeggen. Ze noemen 'm webdesigner, interactie-ontwerper, informatie architect of UX'er. En al is dat allemaal waar, Reinier is ook een front-end developer. Dit is <a href="/pages/scrum.html">handig in scrumprojecten</a> zodat Reinier kan meedenken met ontwerp én techniek. Daarnaast is hij voor leuke klussen ook in te zetten als front-end developer zonder dat hij een pixel hoeft te ontwerpen.</p>
	<p>Reinier Ladan heeft een openbaar Github profiel met daarin veel voorbeelden van front-end werk. Check deze hier:</p>
	<p class="nav-list"><a title="GitHub reinier" class="st-icon-github" href="https://github.com/reinier"><span></span>Github Reinier Ladan</a></p>
</div>
{% endblock %}
