@import "sass/bourbon/bourbon";
@import "sass/bitters/bitters";
@import "sass/neat/neat";

$mobile: new-breakpoint(max-width 900px 2);
$mediumscreen: new-breakpoint(max-width 1100px 12);

$default-lineheight: 1.4em;

@import "sass/element-defaults";
@import "sass/header";
@import "sass/navigation";
@import "sass/content";

@import "sass/annotations";
@import "sass/spinner";
@import "sass/portfolio";
@import "sass/scrumcard";
