@import "sass/bourbon/bourbon";
@import "sass/bitters/bitters";
@import "sass/neat/neat";

$mobile: new-breakpoint(max-width 900px 2);
$mediumscreen: new-breakpoint(max-width 1100px 12);

body {
	font-family: $helvetica;
	font-size: 100%;
}

p {
	margin: 0 1em 1em 0;
	line-height: 1.4em;

	@include media($mobile) {
		margin-left: 1rem;
		margin-right: 1rem;
		font-size: 1em;
	}
}

a {
	text-decoration: underline;
}

h1 {
	margin: 1em 0 0 0;
	font-family: "nimbus-sans", sans-serif;
	font-weight: bold;
}

h2 {
	margin: 0 0 0.35em 0;
	font-family: "nimbus-sans", sans-serif;
	font-weight: 200;
	letter-spacing: -0.02em;

	@include media($mobile) {
		font-size: 1.3em;
		margin-left: 1rem;
		font-weight: bold;
		margin-bottom: 1em;
	}
}

ul {
	list-style-type: disc;
	margin-left: 2em;
	margin-bottom: 1em;
}

.container {
	@include outer-container;
}

.header {
	@include outer-container;
	@include border-bottom-radius(5px);

	padding-bottom: 1em;
	margin-bottom: 2em;
	background-color: #444;
	color: #fff;

	@include media($mediumscreen) {
		@include border-bottom-radius(0px);
	}

	@include media($mobile) {
		@include border-bottom-radius(0px);
		margin-bottom: 0;
	}

	.header__logo {
		@include span-columns(3);
		text-align: center;
		margin-top: 1.8em;
		@include media($mobile) {
	    	@include span-columns(2);
		}
	}
	.header__title {
		@include span-columns(9);
		@include media($mobile) {
	    	@include span-columns(2);
	    	text-align: center;
		}
	}

	a {
		color: #BFE4FF;
		font-weight: bold;
	}

	h1 {
		a {
			text-decoration: none;
			color: #fff;
		}
	}
}

nav {
	@include span-columns(3);
	@include media($mobile) {
    	@include span-columns(2);
	}

	ol {
		list-style-type: disc;
		padding: 1em 0 1em 3em;
		background: #FFFCCE;
		border: 1px solid #bfbfbf;
		border-radius: 0.3em;
		font-size: 1em;

		@include media($mediumscreen) {
			padding: 1em 0 1em 1em;
			list-style-type: none;
			margin-left: 1em;
		}

		@include media($mobile) {
			margin: 0 0 2em 0;
			text-align: center;
			padding: 2em 0;
			border-radius: 0;
			border: 0px;
			border-bottom: 1px solid #bfbfbf;
		}

		li {
			margin-bottom: 0.4em;

			&:last-child {
				margin-bottom: 0;
			}

			@include media($mobile) {
				list-style-type: none;
				display: inline-block;
			}

			a {
				color: #3500D0;
				@include media($mobile) {
					text-decoration: underline;
					@include button;
					font-size: 1.1em;
				}
			}
		}
	}
}

.socials {
	font-size: 1em;
	padding-top: 0.5em;

	@include media($mobile) {
		font-size: 1.4em;
	}
}

.header__link-werkzaamheden,
.header__telefoonnummer,
.content__link-linkedin {
	white-space: nowrap;
}

.content {
	@include span-columns(9);
	@include media($mobile) {
    	@include span-columns(2);
	}
	padding: 0;
	font-size: 1.3rem;

	h2 {
		&:first-child {
			margin-top: 0;
			padding-top: 0;
			line-height: 1em;
		}
	}

	ol {
		list-style-type: decimal;
		margin-left: 2em;
		margin-bottom: 1em;

		li {
			margin-bottom: 0.5em;
		}
	}
}

.content__chapter {
	margin-bottom: 2.5em;
}

.profile-pic {
	width: 150px; /* original size is 300, but downscaled for retina purposes */
	height: auto;
}

.portfolio--home {
	@include clearfix;
	@include media($mobile) {
		margin-left: 1rem;
	}

}

.portfolio__item {
	float: left;
	padding: 0.1em;
	margin: 0 1.5em 1em 0;
	background: #FFF084;

	@include media($mediumscreen) {
		margin-right: 1em;
	}

	p {
		text-align: center;
		margin: 0;
		padding: 0.4em 0 0.6em 0;
	}
}

.portfolio__image {
	width: 200px;
	height: auto;
}
